.app-container {
  display: flex;
  min-height: 100vh;
  background-color: #F5D8D8;
}

.main-content {
  margin-left: 250px;
  flex: 1; 
  padding: 40px;
  padding-bottom: 100px;
  width: calc(100% - 250px);
  min-height: 100vh;
  background-color: #F5D8D8;
  box-sizing: border-box;
}