.sidebar {
  width: 250px; 
  height: 100vh;
  background-color: #ffffff;
  color: rgb(18, 18, 18);
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.sidebar .titulos {
  margin-bottom: 80px;
  display: flex;
  align-items: center;
}

.sidebar .titulos img {
  width: 50px;
  margin-right: 15px;
}

.sidebar .titulos h2 {
  font-size: 14px;
  margin: 0;
}

.botao {
  font-family: "Jockey One", sans-serif; 
  display: flex; 
  align-items: center;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 8px;
  width: 100%;
  font-size: 14px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s; 
  text-decoration: none;
  color: rgb(18, 18, 18);
}

.botao .icon-buttao {
  width: 24px;
  height: 24px;
  margin-right: 15px;
}

.botao p {
  margin: 0;
}

.botao:hover {
  background-color: #5ABC2B;
  color: #ffffff;
}

.botao.active {
  background-color: #5ABC2B;
  color: #ffffff;
  font-weight: 600;
}

.sidebar hr {
  border: 1px solid #eee;
  width: 100%;
  margin-top: auto; 
}